<h1>Listing feedbacks</h1>

<table>
  <thead>
    <tr>
      <th>Proj</th>
      <th>Comment</th>
      <th>User name</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.proj_id %></td>
        <td><%= feedback.comment %></td>
        <td><%= feedback.user_name %></td>
        <td><%= feedback.status_id %></td>
        <td><%= link_to 'Show', feedback %></td>
        <td><%= link_to 'Edit', edit_feedback_path(feedback) %></td>
        <td><%= link_to 'Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feedback', new_feedback_path %>
